<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  {{#if index}}
  <link rel="stylesheet" href="/stylesheets/index.css">
  {{/if}}

</head>

<body class="container">

  <main>
    {{{body}}}
  </main>

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  {{#if index}}
  <script src="/javascripts/index.js"></script>
  {{/if}}
</body>

</html>