<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="images/music-player.png" sizes="16x16" type="image/png">

  {{#if index}}
  <link rel="stylesheet" href="/stylesheets/index.css">
  {{/if}}

  {{#if resultsPageIndicator}}
  <link rel="stylesheet" href="/stylesheets/results.css">
  {{/if}}
</head>

<body class="container">

  <main>
    {{{body}}}
  </main>

  <footer class="my-2 text-center">
    <p class="text-muted">Created by Mohammed Farid. Copyright {{getCurrentYear}} ♪</p>
  </footer>

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script>new WOW().init()</script>
  {{#if index}}
  <script src="/javascripts/index.js"></script>
  {{/if}}
</body>

</html>