<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  {{#if index}}
  <link rel="stylesheet" href="/stylesheets/index.css">
  {{/if}}

  {{#if results}}
  <link rel="stylesheet" href="/stylesheets/results.css">
  {{/if}}
</head>

<body class="container">

  <main>
    {{{body}}}
  </main>

  <footer>
    <p class="text-muted">Created by Mohammed Farid. Copyright {{getCurrentYear}} ♪</p>
  </footer>

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script>new WOW().init()</script>
  {{#if index}}
  <script src="/javascripts/index.js"></script>
  {{/if}}
</body>

</html>